<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>NGI Enterprise Web Portal Account Communication</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <b>Indicare azioni di recupero per gli items scaduti aggiornando la data sul portale.
            Inserire AWB per le spedizioni effettuate nel campo SAL della riga di ordine.</b>

        In Allegato le posizioni scadute, per l'ordine n° {{codiceOrdine}} .
        <br>
            <br>
                <table style="width:100%">
                    <thead>
                        <tr>
                            <td style="font-weight: 700;">ORDINE</td>
                            <td style="font-weight: 700;">POSIZIONE</td>
                            <td style="font-weight: 700;">PN</td>
                            <td style="font-weight: 700;">DESCRIZIONE</td>
                            <td style="font-weight: 700;">MANUFACTURER NAME</td>
                            <td style="font-weight: 700;">MANUFACTURER</td>
                            <td style="font-weight: 700;">QUANTITA' RIMANENTE</td>
                            <td style="font-weight: 700;">DATA CONSEGNA</td>
                        </tr>
                    </thead>
                    {% for pos in itemsExp %}
                    <tr>
                        <td>{{codiceOrdine}}</td>
                        <td>{{pos.posizione}}</td>
                        <td>{{pos.cpn}}</td>
                        <td>{{pos.descrizionecpn}}</td>
                        <td>{{pos.manufaturername}}</td>
                        <td>{{pos.mpn}}</td>
                        <td style="color:red; font-weight: 700;">{{pos.delta}}</td>
                        <td style="color:red; font-weight: 700;">{{pos.dataconsegna|date('d-m-Y')}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                    <br>

                        <b>Prego indicare eventuali problemi per le prossime consegne.</b>
                        <br>
                            <br>
                                <table style="width:100%">
                                    <thead>
                                        <tr>
                                            <td style="font-weight: 700;">ORDINE</td>
                                            <td style="font-weight: 700;">POSIZIONE</td>
                                            <td style="font-weight: 700;">PN</td>
                                            <td style="font-weight: 700;">DESCRIZIONE</td>
                                            <td style="font-weight: 700;">MANUFACTURER NAME</td>
                                            <td style="font-weight: 700;">MANUFACTURER</td>
                                            <td style="font-weight: 700;">QUANTITA' RIMANENTE</td>
                                            <td style="font-weight: 700;">DATA CONSEGNA</td>
                                        </tr>
                                    </thead>
                                    {% for pos in itemsFut %}
                                    <tr>
                                        <td>{{codiceOrdine}}</td>
                                        <td>{{pos.posizione}}</td>
                                        <td>{{pos.cpn}}</td>
                                        <td>{{pos.descrizionecpn}}</td>
                                        <td>{{pos.manufaturername}}</td>
                                        <td>{{pos.mpn}}</td>
                                        <td style="font-weight: 700;">{{pos.delta}}</td>
                                        <td style="font-weight: 700;">{{pos.dataconsegna|date('d-m-Y')}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <br>
                                    <br>




                                        NGI Web Portal address : <b>https://eep.northropgrumman.it</b>    
                                        <br><br><br>
                                                    *** This is an automatically generated email, please do not reply ***
                                                    </body>
                                                    </html>